body {
  color: #ffffff;
  background: url('http://cdn.mysitemyway.com/etc-mysitemyway/webtreats/assets/posts/857/full/tileable-classic-nebula-space-patterns-6.jpg');
  background-color: #190625;
}
h1 {
	font-family: Verdana,Geneva,sans-serif;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}
h3 {
	font-family: Verdana,Geneva,sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}
p {
	font-family: Verdana,Geneva,sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

.active {
  display: block
}

.big-header,
.timers {
  padding: 1px;
  background: url('http://cdn.mysitemyway.com/etc-mysitemyway/webtreats/assets/posts/857/full/tileable-classic-nebula-space-patterns-8.jpg');
  background-color: #190625;
  border: solid 1px #4f93b6
}

.timers {
  padding: 10px
}

.tab-content {
  background-color: #190625;
  border: solid 1px #4f93b6
}

.tab-pane {
  margin: 1%;
  padding-left: 10%;
  padding-bottom: 5%;
  background-color: #190625;
  border: solid 1px #4f93b6
}


.image-contain {
  padding: 15px;
}

.navbar-blue {
  background-color: #190625;
  border-color: #4f93b6;
}

.image {
  background-color: #190625;
  border: solid 1px #4f93b6
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #ffffff;
  background-color: #4f93b6;
  border: 1px solid #190625;
  border-bottom-color: transparent;
  border-radius: 4px 4px 0 0;
  outline: none
}

.nav-tabs > li > a {
  background-color: #190625;
  border: 1px solid #4f93b6;
  border-radius: 4px 4px 0 0
}

#tod {
  background: url('http://www.jacobting.net/imgs/hots/preview-tod.jpg')
}

#is {
  background: url('http://www.jacobting.net/imgs/hots/preview-is.jpg')
}

#boe {
  background: url('http://www.jacobting.net/imgs/hots/preview-boe.jpg')
}

#totsq {
  background: url('http://www.jacobting.net/imgs/hots/preview-totsq.jpg')
}

#st {
  background: url('http://www.jacobting.net/imgs/hots/preview-st.jpg')
}

#got {
  background: url('http://www.jacobting.net/imgs/hots/preview-got.jpg')
}

#bb {
  background: url('http://www.jacobting.net/imgs/hots/preview-bb.jpg')
}

#ds {
  background: url('http://www.jacobting.net/imgs/hots/preview-ds.jpg')
}

#hm {
  background: url('http://www.jacobting.net/imgs/hots/preview-hm.jpg')
}

#ch {
  background: url('http://www.jacobting.net/imgs/hots/preview-ch.jpg')
}